.kitchen{
    
    height: 430px;
    background-image: url(images/landing.jpg);

}
    
  .topnav {
    overflow: hidden;
    position: relative;
    display: inline-flex;

  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .active {
   
    color: white;
  }
  .logo{
      margin-top: px;
      
  }
  .logo img{
margin-left: 470px;
width: 250px;
height: 250px;
  }
.logo p{
padding-left: 20px;
margin-left: 450px;
 height: 70px;
 color: white;
 font-size:x-large;
 margin-bottom: 10px;
}
.happy{
    background-color:whitesmoke;
    height: 40px;
    padding-top: 15px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
    margin-top: px;

    
    
    
}
#party{
    background-color: tomato;
    /* width: 200px; */
    height: 40px;
    font-size: 15px;
    font-family:sans-serif;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    color:white;
    margin-left: 5px;


}
.breakfast{
    background-image: url(images/breakfast.jpg);
    /* width: 200px ; */
    height: 100px;
    text-align: center;
    padding-top: 15px;
    color: white;
    margin-left: 5px;
    font-family: sans-serif;
    
    
    }
    
    
    
     .lunch{
        background-image: url(images/lunch.jpg);
        /* width: 200px ; */
        height: 100px;
        text-align: center;
        padding-top: 15px;
        color: white;
        margin-left: 5px;
        font-family: sans-serif;

        
         }
        
         .dinner{
            background-image: url(images/dinner.jpg);
            /* width: 200px ; */
            height: 100px;
            text-align: center;
            padding-top: 15px;
            color: white;
            margin-left: 5px;
            font-family: sans-serif;
             }
            .image{
                margin-left: 200px;

            }
            .dish img{
              width: 600px;
              height: 300px;
            }
                
           
              

              .food{
                width: 100px;
              }

            button{
              color: tomato;
              border-color: tomato;
     }
     .back{
       background-image:url(images/foodsBg.jpg);
       margin-top: 20px;
       padding-top: 10px;
       
     }
     .slide {
       margin-left: 50px;

     }
     
     .drink1 img{
       height: 300px;
       width: 250px;
     }
     .customers h4{
       color: tomato;
     }
     
     .subscribe{
       background-image: url(images/subscribe.jpg);
       height: 240px;
       text-align: center;
       color: white;
       padding-top: 20px;
}

    
     .menu h4{
       color: tomato;
     }
       
     .backgroundf{
      background-color: tomato;
      text-align:center;
      padding-top: 15px;
      color: white;
      height: 200px;


     }
     .backgroundf img{
      padding-bottom: 5px;
     }
     

     
       
     
    

    
       
      
    




  



